<%- include('header') -%>

<h1>Admin Page - Manage Games</h1>

<table>
    <thead>
    <tr>
        <th>Heima lið</th>
        <th>Heima lið skor</th>
        <th>Útilið</th>
        <th>Útilið skor</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% for (const game of locals.games) { %>
        <tr>
            <td><%= game.home.name %></td>
            <td><%= game.home.score %></td>
            <td><%= game.away.name %></td>
            <td><%= game.away.score %></td>
            <td>
                <button class="delete-btn" data-game-id="<%= game.id %>">Delete</button>
            </td>
        </tr>
    <% } %>
    </tbody>
</table>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const deleteButtons = document.querySelectorAll('.delete-btn');

    deleteButtons.forEach(button => {
      button.addEventListener('click', function () {
        const gameId = this.getAttribute('data-game-id');

        if (confirm('Are you sure you want to delete this game?')) {
          fetch(`/games/${gameId}`, { method: 'DELETE' })
            .then(response => {
              if (response.ok) {
                console.log(`Deleting game with ID: ${gameId}`);
                // Remove the game row from the table
                this.closest('tr').remove();

              } else {
                console.error(`Error deleting game with ID: ${gameId}`);
                alert('Error deleting game');
              }
            })
            .catch(error => console.error('Error:', error));
        }
      });
    });
  });
</script>

<form method="post" action="/logout">
    <button>LOGOUT</button>
</form>

<%- include('footer') -%>
