<%- include('header') -%>

<h1>Seinustu leikir</h1>

<table>
    <thead>
    <tr>
        <th>Heima lið</th>
        <th>Heima lið skor</th>
        <th>Útilið</th>
        <th>Útilið skor</th>
    </tr>
    </thead>
    <tbody>
    <% for (const game of locals.games) { %>
        <tr>
            <td><%= game.home.name %></td>
            <td><%= game.home.score %></td>
            <td><%= game.away.name %></td>
            <td><%= game.away.score %></td>
        </tr>
    <% } %>
    </tbody>
</table>

<%- include('footer') -%>
